* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: #bfbef3;
    font-family: 'Roboto', sans-serif;

  }
body h1 { 
    margin: 0px 20px 20px 20px;
    padding: 20px;
    font-size: 28px;
    color: #1B1B1B;
    text-align: center;
}
body h2,h3 {
    margin: 20px;
    padding: 20px;
    font-size: 20px;
    color: #1B1B1B;
    text-align: center;
}
.fundo {
    margin: 60px 120px 120px 120px;
    padding: 26px;
    background-color: #EAEAEA;
    border-radius: 10px;
    margin-bottom: 5px;
}
li,.paragrafo {
    color: #39393A;
    font-size: 16px;
}
footer {
    text-align: center;
    margin-top: 30px;
    margin: 20px;
}
figcaption footer {
    font-size: 12px;
    color: #8F8F8F;
}
.recipe-image {
    text-align: right;
    font-size: 12px;
    color: #8f8f8f;
  }
  
  .recipe-image img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 5px;
  }